{
  "project_info": {
    "project_number": "278845357182",
    "project_id": "foodapp-17385",
    "storage_bucket": "foodapp-17385.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:278845357182:android:cd35f6cd2043d7000cac2f",
        "android_client_info": {
          "package_name": "com.foodapp.courier_mobile"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyBWoHjbK9vAsKdL8l0HAVj0aI3S730kJR8"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
